@import "tailwindcss";


.leaflet-container {
  height: 100%;
  width: 100%;
}

.app_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-family: 'Quicksand', sans-serif !important;
}

